.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.button-primary {
    -fx-background-color: #388E3C;
    -fx-text-fill: white;
}

.button-primary:hover {
    -fx-background-color: #4CAF50;
}

.button-secondary {
    -fx-background-color: white;
    -fx-text-fill: #388E3C;
    -fx-border-color: #388E3C;
    -fx-border-width: 2px;
}

.button-secondary:hover {
    -fx-background-color: #E8F5E9;
}


.button-danger {
    -fx-background-color: #D84315;
    -fx-text-fill: white;
}

.button-danger:hover {
    -fx-background-color: #C62828;
}